/dataset/*
/models/prompt_v1/deepseek/*
/models/prompt_v1/gemma_finetuned/*
/models/prompt_v1/llama_finetuned/*
/models/prompt_v1/mistral_finetuned/*
/models/prompt_v1/qwen3_finetuned/*
/models/prompt_v1/gemma_finetuned/*
/models/prompt_v2/deepseek/*
/models/prompt_v2/gemma_finetuned/*
/models/prompt_v2/llama_finetuned/*
/models/prompt_v2/mistral_finetuned/*
/models/prompt_v2/qwen3_finetuned/*
/models/prompt_v2/gemma_finetuned/*
/models/testes/llama_finetuned/*
/models/testes/qwen3_finetuned/*