setproctitle==1.2.2
psutil==7.0.0
colorama==0.4.6
defusedxml==0.7.1
PySocks==1.7.1
wheel==0.45.1
numpy==1.26.4
numpy==2.2.6
charset-normalizer==3.4.1
charset-normalizer==3.3.2
pyarrow==15.0.2
pyarrow==20.0.0
tiktoken==0.9.0
argon2-cffi-bindings==21.2.0
mkl-service==2.4.0
transformers==4.51.3
PyQt6==6.7.1
debugpy==1.8.11
gmpy2==2.2.1
contourpy==1.3.2
airportsdata==20250224
nvidia-nccl-cu12==2.21.5
fastjsonschema==2.20.0
mdurl==0.1.0
mdurl==0.1.2
einops==0.8.1
unsloth_zoo==2025.6.1
Deprecated==1.2.18
diskcache==5.6.3
bleach==6.2.0
bert-score==0.3.13
httpx==0.28.1
opentelemetry-sdk==1.26.0
scipy==1.15.2
cffi==1.17.1
appdirs==1.4.4
QtPy==2.4.1
shtab==1.7.2
soupsieve==2.5
opentelemetry-exporter-otlp-proto-http==1.26.0
multidict==6.4.3
multidict==6.1.0
hf-xet==1.1.0
huggingface-hub==0.30.2
huggingface_hub==0.31.2
ipython==9.1.0
babel==2.16.0
aiohttp==3.11.18
aiohttp==3.11.10
pydantic==2.11.4
torch==2.6.0
grpcio==1.71.0
asttokens==3.0.0
Jinja2==3.1.6
ray==2.45.0
pycountry==24.6.1
comm==0.2.1
jupyter-console==6.6.3
importlib_metadata==8.0.0
click==8.1.8
annotated-types==0.7.0
opentelemetry-semantic-conventions-ai==0.4.5
frozenlist==1.6.0
frozenlist==1.5.0
jupyter==1.1.1
blake3==1.0.4
jupyter_core==5.7.2
sniffio==1.3.1
zipp==3.21.0
opentelemetry-semantic-conventions==0.47b0
pyzmq==26.4.0
qtconsole==5.6.1
sentry-sdk==2.18.0
xgrammar==0.1.16
nvidia-curand-cu12==10.3.5.147
jsonschema-specifications==2025.4.1
numexpr==2.10.1
trl==0.15.2
rich-toolkit==0.14.4
peft==0.15.2
pexpect==4.8.0
protobuf==3.20.3
sentencepiece==0.2.0
ninja==1.11.1.4
propcache==0.3.1
nvidia-cusolver-cu12==11.6.1.9
jedi==0.19.2
uvloop==0.21.0
accelerate==1.6.0
Pygments==2.19.1
msgpack==1.1.0
rpds-py==0.24.0
astor==0.8.1
xxhash==3.5.0
json5==0.9.25
networkx==3.4.2
compressed-tensors==0.9.2
fastrlock==0.8.3
tqdm==4.67.1
tornado==6.5.1
opentelemetry-api==1.26.0
ipython_pygments_lexers==1.1.1
pure-eval==0.2.2
webencodings==0.5.1
yarl==1.18.0
yarl==1.20.0
aiosignal==1.2.0
aiosignal==1.3.2
interegular==0.3.3
wcwidth==0.2.5
nvidia-cuda-cupti-cu12==12.4.127
uvicorn==0.34.2
anyio==4.9.0
rfc3986-validator==0.1.1
jupyter_client==8.6.3
python-json-logger==3.3.0
fastapi==0.115.12
langid==1.1.6
python-dotenv==1.1.0
six==1.17.0
bitsandbytes==0.45.5
dnspython==2.7.0
fsspec==2025.3.0
fsspec==2024.12.0
llguidance==0.7.19
msgspec==0.19.0
nvidia-cudnn-cu12==9.1.0.70
setproctitle==1.2.2
jupyter-lsp==2.2.5
sip==6.10.0
regex==2024.11.6
jupyterlab_pygments==0.3.0
ptyprocess==0.7.0
cycler==0.12.1
traitlets==5.14.3
typeguard==4.4.2
nbclient==0.10.2
nvidia-cuda-nvrtc-cu12==12.4.127
unsloth==2025.6.1
multiprocess==0.70.15
multiprocess==0.70.16
nvidia-cufft-cu12==11.2.1.3
pytz==2025.2
pytz==2024.1
typer==0.15.3
torchvision==0.21.0
urllib3==2.4.0
urllib3==2.3.0
mpmath==1.3.0
ipykernel==6.29.5
typing_extensions==4.12.2
typing_extensions==4.13.2
typing_extensions==4.14.0
starlette==0.46.2
jupyter-events==0.12.0
llvmlite==0.43.0
rich==13.9.4
rich==14.0.0
nvidia-nvjitlink-cu12==12.4.127
docstring_parser==0.16
jupyterlab_server==2.27.3
notebook==7.3.2
overrides==7.4.0
python-dateutil==2.9.0.post0
cupy-cuda12x==13.4.1
certifi==2025.6.15
xformers==0.0.29.post2
Send2Trash==1.8.2
nest-asyncio==1.6.0
eval_type_backport==0.2.2
httptools==0.6.4
gitdb==4.0.7
dill==0.3.8
fonttools==4.58.4
packaging==24.2
packaging==25.0
opentelemetry-exporter-otlp==1.26.0
psutil==7.0.0
python-slugify==5.0.2
terminado==0.17.1
nvidia-cusparse-cu12==12.3.1.170
jsonschema==4.23.0
evaluate==0.4.3
MarkupSafe==3.0.2
nvidia-cusparselt-cu12==0.6.2
requests==2.32.3
fastapi-cli==0.0.7
smmap==4.0.0
stack-data==0.2.0
jupyterlab==4.3.4
ipywidgets==8.1.5
opentelemetry-proto==1.26.0
gguf==0.10.0
sympy==1.13.1
jiter==0.9.0
prometheus_client==0.21.1
mistune==2.0.4
text-unidecode==1.3
pycparser==2.21
outlines==0.1.11
hf_transfer==0.1.9
flash_attn==2.7.4.post1
widgetsnbextension==4.0.13
tyro==0.9.19
pydantic_core==2.33.2
tinycss2==1.4.0
wandb==0.20.1
chardet==4.0.0
nbformat==5.10.4
cloudpickle==3.1.1
nbconvert==7.16.6
pyparsing==3.2.3
Unidecode==1.3.8
binaryornot==0.4.4
websocket-client==1.8.0
triton==3.2.0
PyQt6_sip==13.9.1
threadpoolctl==3.5.0
scikit-learn==1.7.0
parso==0.8.4
attrs==25.3.0
attrs==24.3.0
nvidia-nvtx-cu12==12.4.127
idna==3.7
idna==3.10
python-multipart==0.0.20
referencing==0.36.2
safetensors==0.5.3
cut-cross-entropy==25.1.1
email_validator==2.2.0
async-lru==2.0.4
wrapt==1.17.2
py-cpuinfo==9.0.0
jupyter_server==2.15.0
datasets==3.5.1
datasets==3.3.2
distro==1.9.0
argon2-cffi==21.3.0
aiohappyeyeballs==2.6.1
aiohappyeyeballs==2.4.4
arrow==1.3.0
decorator==5.1.1
opencv-python-headless==4.11.0.86
googleapis-common-protos==1.70.0
matplotlib==3.10.3
filelock==3.17.0
beautifulsoup4==4.12.3
outlines_core==0.1.26
cookiecutter==2.6.0
pip==25.1
PyYAML==6.0.2
depyf==0.18.0
httpcore==1.0.9
Brotli==1.0.9
nvidia-cublas-cu12==12.4.5.8
notebook_shim==0.2.4
kiwisolver==1.4.8
executing==0.8.3
Bottleneck==1.4.2
prompt-toolkit==3.0.43
opentelemetry-exporter-otlp-proto-grpc==1.26.0
torchaudio==2.6.0
pillow==11.2.1
nvidia-cuda-runtime-cu12==12.4.127
lm-format-enforcer==0.10.11
mistral_common==1.5.4
cachetools==5.5.2
partial-json-parser==0.2.1.1.post5
tokenizers==0.21.1
pandas==2.2.3
pandocfilters==1.5.0
markdown-it-py==2.2.0
markdown-it-py==3.0.0
numba==0.60.0
joblib==1.4.2
websockets==15.0.1
watchfiles==1.0.5
h11==0.16.0
opentelemetry-exporter-otlp-proto-common==1.26.0
GitPython==3.1.18
setuptools==78.1.1
typing-inspection==0.4.0
openai==1.76.2
jupyterlab_widgets==3.0.13
matplotlib-inline==0.1.6
platformdirs==4.3.7
tzdata==2025.2
prometheus-fastapi-instrumentator==7.1.0
rfc3339-validator==0.1.4
vllm==0.8.2
jupyter_server_terminals==0.5.3
shellingham==1.5.4
docker-pycreds==0.4.0
lark==1.2.2
wheel==0.45.1
jaraco.functools==4.0.1
more-itertools==10.3.0
importlib_metadata==8.0.0
typeguard==4.3.0
inflect==7.3.1
platformdirs==4.2.2
typing_extensions==4.12.2
jaraco.collections==5.1.0
packaging==24.2
backports.tarfile==1.2.0
tomli==2.0.1
jaraco.text==3.12.1
autocommand==2.2.2
zipp==3.19.2
jaraco.context==5.3.0
